html {
    background-color: rgb(41, 42, 68);
    color: rgb(237, 239, 209);
    font-family: 'American Typewriter', serif;
}

hr.rounded {
    border-top: #c0c0c0;
    border-radius: 4000px;
    width: 85%;
}

h1 {
    font-size: 18px;
    text-align: center;
    width: 0 auto;
    margin: 0 auto;
    align-content: center;
}

h2 {
    font-size: 14px;
    color: #c0c0c0;
    text-align: center;
    width: 0 auto;
    margin: 0 auto;
    align-content: auto;
}

h3 {
    font-size: 30px;
    text-align: center;
    align-content: center;
    width: 0 auto;
    margin: 0 auto;
}

h4 {
    font-size: 12px;
    text-align: left;
    width: 0 auto;
    margin: 0 auto;
    align-content: auto;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: rgb(41, 42, 68);
    ;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.column {
    float: left;
    width: 33.33%;
    height: 300px;
}

.column.link {
    float: right;
    width: 33.33%;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: rgb(41, 42, 68);
    padding: 10px;
    text-align: center;
}